html {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.6;
  color: #333;
  margin: 2rem;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

label {
  font-size: 1rem;
  font-weight: 900;
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #eee;
  border: 0;
  border-radius: 0.25em;
  transition: 120ms all ease;
}

img {
  max-width: 15rem;
  margin: 4rem auto;
  display: block
}

input:focus {
  background-color: rgb(162, 208, 238);
}

input:hover {
  background-color: rgb(181, 225, 233);
}

input[type='submit'] {
  background-color: rgb(78, 121, 87);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

input[type='submit']:hover {
  background-color: rgb(46, 96, 57);
}

h1 {
  font-weight: 900;
  font-size: 8rem;
  line-height: 0.8;
}
